
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/materialize-css/dist/css/materialize";

@import "css-animation";

$bg-color: #F9F9F9;

.logo {
    width: 120px;
    vertical-align: middle;
}

body {
    background-color: $bg-color;
    color: #000000;
}

.nav-header-part {
    background-color: darken($bg-color, 5%) !important;
}

.font-serif {
    font-family: 'Arvo', serif;
}

.dployr-brown {
    color: #8C6429 !important;
}

.large-logo {
    max-width: 600px;
    width: 50vw;
    word-wrap: break-word;
}

.code {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    background-color: #E8F5F7;
    border: 1px solid #b4dacd;
}

.font-bold {
    font-weight: 700;
}

.monospace {
    font-family: monospace, monospace;
}

.navbar {
    background-color: #303030 !important;
}

.btn-color-normal {
    background-color: $btn-color-normal !important;
}

.btn-color-success {
    background-color: $btn-color-success !important;
}

.btn-color-error {
    background-color: $btn-color-error !important;
}