
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500|Arvo:400,400i,700,700i);

// Variables
@import "variables";

@import "css-animation";

$bg-color: #F9F9F9;

.logo {
    width: 120px;
    vertical-align: middle;
}

body {
    background-color: $bg-color;
    color: #000000;
}

.nav-header-part {
    background-color: darken($bg-color, 5%) !important;
}

.font-serif {
    font-family: 'Arvo', serif;
}

.dployr-brown {
    color: #8C6429 !important;
}

.dployr-blue {
    color: #00A6C1 !important;
}

.large-logo {
    max-width: 600px;
    width: 50vw;
    word-wrap: break-word;
}

.code {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    background-color: #E8F5F7;
    border: 1px solid #b4dacd;
}

.font-bold {
    font-weight: 700;
}

.monospace {
    font-family: monospace, monospace;
}

.navbar {
    background-color: #303030 !important;
}

.btn-color-normal {
    background-color: $btn-color-normal !important;
}

.btn-color-success {
    background-color: $btn-color-success !important;
}

.btn-color-error {
    background-color: $btn-color-error !important;
}

.border-color-normal {
    border-bottom: 1px solid $btn-color-normal !important;
    box-shadow: 0 1px 0 0 $btn-color-normal !important;
}

.section.laptop-image {
    // background-image: url('https://images.unsplash.com/reserve/6HJtLkJSDqjqlE2NipEu_macbook.jpg');
    // background-size: cover;
    // background-position: center top;
    // height: 450px;
}

.message-error {
    background-color: $bg-color-error;
    border: 1px solid $btn-color-error;
    padding: 5px;
}

.delete-button {
    margin-top: 4em;
}